.userProfiles tbody tr td img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}
.userProfiles tr td{
    text-transform: capitalize;
}
.viewProfileTab .imageDrop{
    align-items: start;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.viewProfileTab .imageDrop img{
    border-radius: 10px;
}
.viewProfileTab .profileDesc{
    border-color: #00000029;
    color: #525252;
    height: 100px;
    margin-top: 10px;
}
.viewProfileTab .profileInput{
    border-color: #00000029;
    color: #525252;
}
.viewProfileTab label{
    width: 50%;
    font-size: 18px;
    font-weight: 600;
}
.viewProfileTab .profile-form-steps .profile-step{
    color: black !important;
}
.viewProfileTab .profile-form-steps .active::before{
    background-color: black;
    z-index: 999;
}
.viewProfileTab .profile-form-steps::before{
    background-color: #929292;
    z-index: 997;
}
.viewProfileTab .sticky-div{
    padding-bottom: 180px;
}
.pricePlanCards{
    background: white;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px #929292;
}
.planTitle{
    font-weight: 700;
    margin-bottom: 5px;
}
.planSubTitle{
    font-weight: 500;
    color: #3c3c3c;
    margin-bottom: 15px;
}
.planAmount{
    font-weight: 800;
    margin-bottom: 0px;
}
.planAmount span{
    font-size: 20px;
    color: #b5b5b5;
}
.planAmountText{
    color: #919191;
    font-weight: 500;
}
.planServices{
    color: #919191;
    margin-right: 5px;
}
.plansBtn{
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    border: 1px solid #b9b9b9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.planBadge{
    background-color: #F43662;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 5px;
}
.allUserCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 10px;
}
.messagebox{
    height: 80vh;
    overflow: hidden;
}
.messagebox .nav-link{
    border: 1px solid;
    margin-bottom: 5px;
}
.messagebox .nav-link .name{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-bottom: 0px;
}
.messagebox .nav-link .email{
    text-align: left;
    font-size: 11px;
    margin-bottom: 5px;
    color: black;
}
.messagebox .nav-link .mesage{
    text-align: left;
    color: black;
    font-size: 15px;
    margin-bottom: 0px;
}
.messagebox .nav-link.active .mesage, .messagebox .nav-link.active .email, .messagebox .nav-link.active .name{
    color: white;
}
.nav{
    height: 65vh !important;
    overflow-y: auto;
    flex-wrap: nowrap;
}
.tab-content
{
    padding-left: 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.329);
    height: 100%;
    overflow-y: auto;
}
