@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Pacifico&display=swap');


h1,h2,h3,h4,h5,h6,p,span,a,button,input,label,div{
    font-family: "Figtree", sans-serif;

}
p{
    margin-bottom: 0px;
}
.section{
    width:100% !important;
    padding: 0 5%;
}
.headerContainer{
    background-color: #FCCAD5;
}
.menu_item.active {
    color: #f43662;
    font-weight: bold;
}
.homebg{
    background-image: url('../imgs/hero_bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 70px 5%;
}

.headerMain{
    padding: 20px 0;
}
.home-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.w-66{
    width: 66%;
}
.w-33{
    width: 33%;
}
.w-60{
    width: 60%;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.w-40{
    width: 40%;
}
.homeMain-heading , .homeMain-heading span{
    font-size: 70px;
    font-weight: 900;
}
.home-Selects {
    width: 100%;
}

.select-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.select-wrapper select {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    background: #fff5f5 !important;
    color: #f436628f;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
}

.select-wrapper::after {
    content: "\f107"; /* Unicode for Font Awesome's down arrow */
    font-family: "Font Awesome 5 Free"; /* Ensure Font Awesome is loaded */
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #d7d7d7;
}
.home-Selects button{
    background-color: #f43662;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
}
.step-one{
    padding: 10px 20px;
    border-bottom: 1px dashed #f43662;
    border-top: 1px dashed #f43662;
    border-right: 1px dashed #f43662;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}
.step-two{
    padding: 10px 20px;
    border-left: 1px dashed #f43662;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
    flex-direction: row-reverse;
}
.step-one::after{
    content: "\f111"; /* Unicode for Font Awesome's filled circle */
    font-family: "Font Awesome 5 Free"; /* Make sure Font Awesome is loaded */
    font-weight: 900;
    position: absolute;
    top: -3px;
    right: -2px;
    pointer-events: none;
    color: #f43662;
    font-size: 5px;
}
.step-two::after{
    content: "\f111"; /* Unicode for Font Awesome's filled circle */
    font-family: "Font Awesome 5 Free"; /* Make sure Font Awesome is loaded */
    font-weight: 900;
    position: absolute;
    top: -3px;
    left: -2px;
    pointer-events: none;
    color: #f43662;
    font-size: 5px;
}
.step-one::before{
    content: "\f111"; /* Unicode for Font Awesome's filled circle */
    font-family: "Font Awesome 5 Free"; /* Make sure Font Awesome is loaded */
    font-weight: 900;
    position: absolute;
    bottom: -4px;
    right: -2px;
    pointer-events: none;
    color: #f43662;
    font-size: 5px;
}
.step-two::before{
    content: "\f111"; /* Unicode for Font Awesome's filled circle */
    font-family: "Font Awesome 5 Free"; /* Make sure Font Awesome is loaded */
    font-weight: 900;
    position: absolute;
    bottom: -4px;
    left: -2px;
    pointer-events: none;
    color: #f43662;
    font-size: 5px;
}
.step-three span::before{
    content: "\f111"; /* Unicode for Font Awesome's filled circle */
    font-family: "Font Awesome 5 Free"; /* Make sure Font Awesome is loaded */
    font-weight: 900;
    position: absolute;
    bottom: -5px;
    left: -2px;
    pointer-events: none;
    color: #f43662;
    font-size: 5px;
}
.dashbedBorders{
    padding-right: 100px;
    border-right: 10px solid #f43662;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.stepsTexts{
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.stepTitle{
    color: #f43662;
    font-size: 30px;
    font-weight: 900;
}
.stepSubTitle{
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 600;
}
.stepsTexts h2{
    font-size: 75px;
    color: black;
}
.stepsTexts span{
    font-style: italic;
    color: #f43662;
    font-weight: 900;
}
.bgSectionColor{
    background-color: #f43662;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bgSectionColor .mainHeading{
    font-size: 60px;
    color: white;
    margin-bottom: 50px;
}
.bgSectionColor .mainHeading span{
    color: black;
}
.searchBy{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 5px solid whitesmoke;
    display: flex;
    align-items: center;
    width: 100%;
}
.searchBy .searchTitle{
    width: 25%;
    font-size: 25px;
    color: white;
}
.searchBy .searchTitle h1{
    font-size: 28px;
}
.searchBy .searchOptions {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: start;
    width: 75%;
}
.searchBy .searchOptions a{
    background-color: white;
    border-radius: 0 20px;
    padding: 15px 40px;
    color: #f43662;
    font-size: 20px;
    text-align: center;
}
.searchBy .searchOptions a:hover{
    color: #f43662;
}
.searchBy .searchOptions .lastOption{
    background-color: black;
    color: white;
    cursor: pointer;
}
.searchBy .searchOptions .lastOption:hover{
    color: white;
}
.bgBrands{
    background-image: url(../../frontend-assets/imgs/left_leaf.png);
    background-size: 8%;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 100px 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bgBrands .Title{
    letter-spacing: 10px;
    color: #f43662;
}
.bgBrands .subTitle{
    font-size: 45px;
    font-weight: 600;
    color: #f43662;
    padding: 10px 0 20px;
}
.imageBrands{
    width: 20%;
}
.testimonial-item {
    max-width: 300px;
    text-align: center;
}


.testimonial-item {
    max-width: 300px;
    padding: 20px 30px;
    border: 1px solid #f43662;
    border-radius: 20px;
    text-align: left;
}
.Testimonialwrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.testimonial-item .textimonialtext{
    font-size: 15px;
}
.testimonial-item .textDesc{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    color: black;
}
.testimonial-item .lcation{
    font-size: 17px;
    text-transform: uppercase;
}
.Testimonialwrapper i {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 2.25rem;
    transform: translateY(-50%);
    color: #f43662;
    z-index: 9999;
    background: white;
}

.Testimonialwrapper i:first-child {
    left: 7px;
}

.Testimonialwrapper i:last-child {
    right: 14px;
}

.Testimonialwrapper .Testimonialcarousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3));
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.Testimonialcarousel::-webkit-scrollbar {
    display: none;
}

.Testimonialcarousel :where(.Testimonialcard, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Testimonialcarousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.Testimonialcarousel.no-transition {
    scroll-behavior: auto;
}

.Testimonialcarousel.dragging .Testimonialcard {
    cursor: grab;
    user-select: none;
}

.Testimonialcarousel .Testimonialcard {
    scroll-snap-align: start;
    list-style: none;
    display: flex;
    cursor: pointer;
    width: 98%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.Testimonialcarousel .TestimonialcardInner{
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}
.Testimonialcarousel .Testimonialcard .img {
    transform: translate(13%, -75%) rotate(38deg);
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.Testimonialcarousel .Testimonialcard .img img {
    width: 100px;
    height: 145px;
    object-fit: contain;
    transform: rotate(-38deg);
    position: absolute;
}
.Testimonialcarousel .Testimonialcard::before{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 3px solid #FE7C7C;
    top: 10px;
    left: 35px;
}
.Testimonialcarousel .Testimonialcard::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 3px solid #FFDF7D;
    top: 80px;
    left: 35px;
}
.Testimonialcarousel .Testimonialcard .spanSquare{
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 3px solid #7CD7FE;
    top: 3px;
    left: 133px;
}
.Testimonialcarousel .Testimonialcard span {
    color: #6a6d78;
    font-size: 1.31rem;
}
.mainTestiText{
    margin-top: -30px;
}
.bgBrands2{
    background-image: url(../../frontend-assets/imgs/image\ 31.png);
    background-size: 5%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.trusted{
    margin-top: 200px;
    position: relative;
    padding-bottom: 200px;
    z-index: -1;
}

.pointerImage{
    width: 500px;
    position: absolute;
    top: -216px;
}
.trustedOne{
    font-size: 25px;
    color: black;
    margin-top: 20px;
}
.trustedTitle{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.trustedSubTitle{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.trustOptions{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    margin-top: -100px;
    padding-bottom: 50px;
    height: 100%;
    column-gap: 100px;
}
.trustOptionsDiv{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #e9e9e9;
    padding: 25px 15px;
    width: 25%;
    height: auto;
    flex: 1 0 auto;
}
.trustOptionsDiv div{
    border: 1px solid #f43662;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.trustOptionsDiv img{
    width: 100px;
    margin-bottom: 25px;
}
.trustOptionsDiv .ring-1{
    width: 70px;
}
.trustOptionsDiv .ring-2{
    width: 65px;
    position: absolute;
    top: 43px;
    left: -20px;
}
.trustOptionsDiv h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f43662;
    text-align: center;
}
.trustOptionsDiv p{
    text-align: center;
    font-size: 18px;
    color: black;
}
.moreTestimonials{
    background-color: #f43662;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 20px 30px;
    border-radius: 10px;
    font-weight: 600;
}
.siteContact{
    padding: 100px 0;
}
.contactImg1{
    width: 15%;
    position: absolute;
    top: -45px;
    left: 15px;
    z-index: -1;
}
.contactImg2{
    width: 52%;
    margin-left: 10%;
}
.contactImg3{
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 15%;
    border-top: 12px solid white;
    border-left: 8px solid white;
    border-radius: 0 45%;
    background: white;
}
.contactImg4{
    width: 20%;
    bottom: -30px;
    position: absolute;
    right: 80px;
    z-index: -1;
}
.contactDetails{
    padding: 50px;
}
.contactDetails .title{
    font-size: 60px;
    color: black;
    font-weight: 900;
}
.contactDetails .subTitle{
    font-size: 35px;
    color: #f43662;
    font-weight: 600;
    margin-bottom: 20px;
}
.contactDetails .desc{
    color: #5B5B5B;
    font-size: 16px;
    margin-bottom: 20px;
}
.contactDetails .click{
    color: black;
    font-size: 16px;
}
.contactDetails .click a {
    text-decoration: none;
    color: #f43662;
    cursor: pointer;
}
.contactDetails hr{
    background-color: #C2C2C2;
}
.contactDetails .enquiry i{
    width: 50px;
    height: 50px;
    border: 5px solid #E2DBE4;
    border-radius: 50%;
    font-size: 18px;
    background-color: #f43662;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactDetails .enquiry h4{
    color: #898989;
    font-size: 15px;
}
.contactDetails .enquiry p{
    color: black;
    font-size: 19px;
    font-weight: 600;
}
.aboutTexts .enquiry i{
    width: 50px;
    height: 50px;
    border: 5px solid #E2DBE4;
    border-radius: 50%;
    font-size: 18px;
    background-color: #f43662;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutTexts .enquiry h4{
    color: #898989;
    font-size: 15px;
}
.aboutTexts .enquiry p{
    color: black;
    font-size: 19px;
    font-weight: 600;
}
.adSection{
    background-image: url(../imgs/Vector-line-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    padding: 40px 100px 30px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.adSection .title{
    font-size: 70px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
.adSection .joinBtn{
    background-color: white;
    padding: 10px 45px;
    color: #f43662;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: 600;
}
.adSection .img{
    width: 25%;
}
footer{
    background-color: #f43662;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}
.foterWidgets{
    padding: 50px 0;
    display: flex;
    width: 100%;
}
.foterWidgets .innerDiv{
    width: 25%;
}
.foterWidgets .innerDiv .title{
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.foterWidgets .innerDiv .infos{
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
}
.foterWidgets .innerDiv .footerMenu{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.foterWidgets2 .footerMenu{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.footerSocial i, .copywrteText{
    color: #ffbbca;
    margin-right: 10px;
}
.foterWidgets2{
    background-color: #f43662;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-group{
    padding: 10px;
    border: 1px solid #f43662;
    border-radius: 20px;
}
.Loginhomebg{
    background-image: url('../imgs/hero_bg.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    width: 62%;
    margin-left: -5px;
}
.registerBg, .bg-price{
    background-image: url('../imgs/hero_bg.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.leftImage{
    background-image: url(../imgs/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}
.signInForm{
    padding: 100px;
    background-color: #f43662b7;
}
.signInForm .title{
    color: white;
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 30px;
}
.signInForm .form-group{
    border: none;
}
.signInForm .form-group label{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.signInForm .form-group input{
    background: transparent !important;
    color: white;
    border-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.signInForm .form-group input::placeholder{
    color: white;
}
.signInForm  .login-form{
    padding: 0 150px;
}
.form-control:focus{
    box-shadow: none !important;
}
input[type="radio"]{
    box-shadow: none;
}
input[type="checkbox"]{
    box-shadow: none;
}
.signConfBtn , .signConfBtn:hover{
    width: 100%;
    border: 1px solid white;
    background-color: #f43662;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.googleSignin{
    width: 100%;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.googleSignin img{
    width: 25px;
}
#CreatProfilesDiv{
    display: none;
}
#prevToLookingFor{
    display: none;
}
.input-group-appends{
    position: absolute;
    top: 13%;
    right: 10px;
    background-color: transparent;
    z-index: 9999999999999;
}
.signInForm .input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    border-radius: var(--bs-border-radius);
}
.Registration_Modal{
    background: #f4366257;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    backdrop-filter: blur(2px);
}
.Registration_Modal .modal-dialog{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.Registration_Modal .modal-content{
    background-color: #f43662;
    /* height: 75vh; */
    padding: 20px;
}
.Registration_Modal .modal-body{
    overflow-y: auto;
    padding: 0 10px 0 0;
}
.Registration_Modal .modal-header{
    padding: 10px 0 20px 0;
    border:  none !important;
}
.Registration_Modal .modal-header .modal-title{
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
}
.Registration_Modal .btn-modalclose{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 10px;
}
.Registration_Modal .names{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.Registration_Modal .form-control, .submitDtsCard .form-control{
    color: #f43662;
    padding: 10px;
    border: none;
    background: white !important;
}
.Registration_Modal .form-control::placeholder, .submitDtsCard .form-control::placeholder{
    color: #f43662;
}
.Registration_Modal .form-control:focus, .submitDtsCard .form-control:focus{
    border: none;
    box-shadow: none;
}
.Registration_Modal .radios {
    margin-top: 20px;
}
.Registration_Modal .radios p, .submitDtsCard .radios p{
    margin-bottom: 5px;
    color: white;
}
.Registration_Modal .radios input[type="radio"], .submitDtsCard .radios input[type="radio"]{
    display: none;
}
.Registration_Modal .radios label, .submitDtsCard .radios label{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}
.Registration_Modal .radios input[type="radio"]:checked + label{
    background-color: white;
    color: #f43662;
}
.submitDtsCard .radios input[type="radio"]:checked + label{
    background-color: white;
    color: #f43662;
}
.Registration_Modal .date_of_birth{
    margin-top: 20px;
}
.Registration_Modal .date_of_birth p{
    color: white;
    margin-bottom: 5px;
}
.Registration_Modal .date_of_birth .fields{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.Registration_Modal .date_of_birth .fields .select-wrapper{
    width: 25%;
}
.Registration_Modal .select-wrapper::after, .submitDtsCard .select-wrapper::after{
    color: #f43662;
}
.Registration_Modal .education{
    margin-top: 20px;
}
.Registration_Modal .openEmailSignup{
    width: 100%;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
    color: #f43662;
}
.Registration_Modal .submitBtn{
    padding: 10px 25px ;
    background: white;
    color: #f43662;
    font-weight: 600;
}
.Registration_Modal .submitBtn:hover{
    background-color: white;
    border-color: white;
    color: #f43662;

}
.Registration_Modal .cancelBtn{
    background-color: transparent;
    color: white;
}
.Registration_Modal .cancelBtn:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}
.Registration_Modal ::-webkit-scrollbar{
    width: 5px;
}
.Registration_Modal ::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 100vw;
}
.Registration_Modal ::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 100vw;
}
.termText ::-webkit-scrollbar{
    width: 5px;
}
.termText ::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 100vw;
}
.termText ::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 100vw;
}
.Registration_Modal .input-group-text{
    border: none;
    color: #f43662;
}
.membershipbg{
    background: #f436628c;
    backdrop-filter: blur(3px);
}
.plans{
    background-color: #FEF5F7;
    border-radius: 20px;
}
.contineBtn, .phonVerifyBtn{
    padding: 7px 20px;
    background-color: black;
    border-radius: 10px;
    color: white;
    border: none;
}
.submitDtsCard .select-wrapper::after{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-left: 2px solid #f43662;
    height: 100%;
}

.submitDtsCard .termscheck p{
    color: white;
    font-size: 17px;
}
.submitDtsCard .termscheck .bdCode{
    padding: 10px;
    background: white;
    border-radius: 10px 0px 0 10px;
    color: #f43662;
    border-right: 1px solid #f43662;
}
.submitDtsCard .termscheck .verifyPhoneNumber{
    border-radius: 0 10px 10px 0;
}


/* .form-check label{
    padding: 3px 10px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}
.form-check input[type="radio"]:checked + label{
    background: hotpink;
    border-color: hotpink;
} */
.submitBtn{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f43662;
}
.submitBtn:hover
{
    background-color: #f43662;
    border-color: #f43662;
    color: white;
}
.menu_item{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 10px 15px;
    transition: all 0.3s ease-in;
}
.menu_item:hover{
    color: #f43662;
}
.loginBtn{
    font-size: 17px;
    color: #f43662;
    border-radius: 5px;
    padding: 8px 30px;
}
.registerbtn{
    font-size: 17px;
    color: white;
    background-color: #f43662;
    border-radius: 5px;
    padding: 8px 30px;
}
.registerbtn:hover{
    background-color: #f43662;
    color: white;
    border-color: #f43662;
}
.loginBtn:hover{
    background-color: transparent;
    color: #f43662;
    border-color: transparent;
}
.popupModal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f4366238;
    top: 0%;
    z-index: 999999999;
    padding-top: 14%;
}
.passwordPopup{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #f4366238;
    top: 0%;
    z-index: 999999999;
    backdrop-filter: blur(2px);
}
.passwordPopup .card{
    width: 50%;
}
.toast-success {
    background-color: green !important; /* Green background */
    z-index: 9999999 !important;
    opacity: 1 !important;
}
.toast-error {
    background-color: #ff0019 !important; /* Red background */
    z-index: 999999 !important;
    opacity: 1 !important;
}
.profileImg{
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 3px;
}
.profileImg img{
    width: 50px;
    height: 50px;
    border: 3px solid #f4366238;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}
.dropdown-menu{
    inset: 0px 0 auto auto !important;
}
.dashboardNav{
    padding: 30px 65px 0 0px;
    border-right: 1px solid rgb(0 0 0 / 18%);
    width: 25%;
    height: 100vh;
    position: relative;
}
.dashboardNav .nav-link{
    border: 2px solid #F43662;
    color: #F43662;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
}
.navsInnerDiv{
    width: 25%;
}
.sticky-div {
    height: calc(100vh - 150px); /* Adjust the 80px based on the height of the non-scrolling content */
    overflow-y: auto;
}
.tab-content .row{
    padding: 10px 0px 20px 25px;
    --bs-gutter-x: 2rem !important;
}
.tab-content .row .col-md-4{
    margin-top: 20px;
}
.dashboardNav .active{
    background-color: #F43662 !important;
    color: white;
}
.profileGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 15px; /* Space between grid items */
    height: fit-content;
}
.profileCard{
    border: 2px solid #F43662;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.blur{
    filter: blur(5px);
}
.profileCard img{
    height: 220px;
    object-fit: cover;
    object-position: top center;
}
.profileCard .profileCardDiv{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Make the div flexible to fill available space */
    justify-content: space-between;
}
.profileCard .profileDetailsBtn{
    display: block;
    text-decoration: none;
    width: 100%;
    background-color: #F43662;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 10px;
}
.sticky-div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
.bestMatch{
    color: #F43662;
    font-family: "Pacifico", cursive;
}
.dashboardLogOut{
    margin-bottom: 130px !important;
    position: absolute;
    bottom: 0;
    width: 78% !important;
}
.dashboardLogOut:hover{
    background-color: #F43662;
    color: white;
}
.dashboardButton{
    background-color: #F43662 !important;
    color: white !important;
}
.form-container {
    margin: 20px 0 10px 10px;
}

.profile-form-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}
.partner-form-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}
.profile-form-steps::before{
    content: '';
    height: 5px;
    background: #f4366269;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    z-index: 80;
}
.partner-form-steps::before{
    content: '';
    height: 5px;
    background: #f4366269;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    z-index: 80;
}
.profile-form-steps .profile-step {
    cursor: pointer;
    color: #F43662 !important;
    font-size: 20px;
    transition: all 0.3s ease;
    position: relative !important;
    padding: 0 0 20px !important;
    font-size: 20px;
}
.partner-form-steps .partner-step {
    cursor: pointer;
    color: #F43662;
    font-size: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease;
    position: relative;
}
.profile-form-steps .profile-step:hover{
    border: none !important;
}
.profile-form-steps .active {
    font-weight: bold !important;
    position: relative;
    border: none !important;
}
.partner-form-steps .partner-step .active {
    font-weight: bold !important;
    position: relative;
    border: none !important;
}
.profile-form-steps .active::before{
    content: '';
    height: 5px;
    width: 100%;
    background: #F43662;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
    z-index: 99;
    left: 0;
}
.partner-form-steps .active::before{
    content: '';
    height: 5px;
    width: 100%;
    background: #F43662;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
    z-index: 99;
    left: 0;
}
.progress-bar {
    height: 5px;
    background: #e0e0e0;
    margin-bottom: 20px;
    position: relative;
}

.progress {
    height: 100%;
    width: 0;
    background: #F43662;
    transition: width 0.4s;
}

.profile-form-step {
    display: none;
}
.partner-form-step {
    display: none;
}
.profile-form-step.active {
    display: block;
}
.partner-form-step.active {
    display: block;
}


.imageDrop input[type="file"] {
    display: none;
  }
.imageDrop .imageUploadInput {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    color: #F43662;
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 0.3em;
    margin: 0;
    cursor: pointer;
    border: 1px solid #f43662;
  }
.imageDrop #image-display {
    position: absolute;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 1.25em; */
    /* flex-wrap: wrap; */
    height: 100%;
    z-index: 0;
  }
  .imageDrop #image-display1 {
    position: absolute;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 1.25em; */
    /* flex-wrap: wrap; */
    height: 100%;
    z-index: 0;
  }
.imageDrop #image-display figure {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
  }
  .imageDrop #image-display1 figure {
    width: 100%;
    height: 100%;
  }
.imageDrop #image-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .imageDrop #image-display1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
.imageDrop #image-display figcaption {
    display: none;
  }
  .imageDrop #image-display1 figcaption {
    display: none;
  }
.imageDrop  #error {
    text-align: center;
    color: #ff3030;
  }
  .imageDrop  #error1 {
    text-align: center;
    color: #ff3030;
  }
.imageDrop{
    height: 200px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.profileDesc{
    width: 100%;
    height: 128px;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: #f43662;

}
.profileInput{
    width: 100%;
    padding: 10px;
    border: 1px solid #f43662;
    border-radius: 10px;

}
.profile-next-step, .profile-submit-form, .profile-next-step:hover, .profile-submit-form:hover, .profile-next-step:active, .profile-submit-form:active{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    float: right;
}
:not(.btn-check)+.btn:active{
    background-color: #F43662;
    color: white;
}
.partner-next-step, .partner-submit-form{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    float: right;
}
input:focus, textarea:focus, select:focus-visible {
    border-color: #F43662;
    outline: none;
}
.partner-form-step input:focus, .partner-form-step textarea:focus {
    border-color: #F43662;
    outline: none;
}
.profile-form-step input::placeholder{
    color: #F43662;
}
.partner-form-step input::placeholder{
    color: #F43662;
}
.imageReUploadInput{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    background: #00000029;
    color: white;
    text-align: center;
    z-index: 9999;
    display: none;
    cursor: pointer;
}
.imageDrop #image-display:hover .imageReUploadInput{
    display: block !important;
  }
  .imageDrop #image-display1:hover .imageReUploadInput{
    display: block !important;
  }
  .profile-prev-step, .profile-prev-step:hover{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}
.partner-prev-step, .partner-prev-step:hover{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}
.settings .pl-0{
    padding-left: 0px;
}
.profileNav:hover{
    background-color: #F43662 !important;
    color: white !important;
}
.dropdown-item:active{
    background-color: #F43662;
}
.form-check-input:checked {
    background-color: #F43662;
    border-color: #F43662;
}
.form-check-input:focus{
    box-shadow: none !important;
}
.viewProfileTab .imageDrop{
    align-items: start;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.editingYourProfile .imageDrop{
    align-items: start;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.viewProfileTab .imageDrop img{
    border-radius: 10px;
}
.editingYourProfile .imageDrop img{
    border-radius: 10px;
}
.viewProfileTab .profileDesc{
    border-color: #00000029;
    color: #525252;
    height: 100px;
    margin-top: 10px;
}
.editingYourProfile .profileDesc{
    border-color: #f4366238;
    color: black;
    height: 100px;
    margin-top: 10px;
}
.viewProfileTab .profileInput{
    border-color: #00000029;
    color: #525252;
}
.editingYourProfile .profileInput{
    border-color: #F43662;
    color: black;
}
.viewProfileTab label{
    width: 50%;
    font-size: 18px;
    font-weight: 600;
}
.editingYourProfile label{
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #F43662;
}
.viewProfileTab .profile-form-steps .profile-step{
    color: black !important;
}
.editingYourProfile .profile-form-steps .profile-step{
    color: #F43662 !important;
}
.viewProfileTab .profile-form-steps .active::before{
    background-color: black;
    z-index: 999;
}
.editingYourProfile .profile-form-steps .active::before{
    background-color: #F43662;
    z-index: 999;
}
.viewProfileTab .profile-form-steps::before{
    background-color: #929292;
    z-index: 997;
}
.editingYourProfile .profile-form-steps::before{
    background-color: #f4366238;
    z-index: 997;
}
.viewProfileTab .sticky-div{
    padding-bottom: 180px;
}
.editingYourProfile .sticky-div{
    padding-bottom: 220px;
}
.settings{
    width: 50%;
}
.profileInput {
    position: relative;
  }

  .yourProfileCreate .profileInput::before {
    content: attr(placeholder);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }

  .yourProfileCreate .date-picked :not(:placeholder-shown)::before {
    display: none !important;
  }
  .yourProfileCreate .date-picked::before {
    display: none !important;
  }

  .yourProfileCreate .profileInput::-webkit-datetime-edit-text,
  .yourProfileCreate .profileInput::-webkit-datetime-edit-month-field,
  .yourProfileCreate .profileInput::-webkit-datetime-edit-day-field,
  .yourProfileCreate .profileInput::-webkit-datetime-edit-year-field {
    color: transparent !important;
  }
.dashboardMain input, select {
    background-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.yourProfileCreate .date-picked::-webkit-datetime-edit-text,
.yourProfileCreate .date-picked::-webkit-datetime-edit-month-field,
.yourProfileCreate .date-picked::-webkit-datetime-edit-day-field,
.yourProfileCreate .date-picked::-webkit-datetime-edit-year-field {
    color: black !important;
  }
a{
    text-decoration: none !important;
}
.editingYourProfile .imageDrop{
    width: 260px !important;
}
.editingYourProfile .imageDrop .savedImagePre{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.editingYourProfile .imageDrop .newImagePre{
    position: absolute;
    z-index: 3;
    background: white;
    width: 100%;
    height: 100%;
}
.editingYourProfile .UploadnewImageLabel{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #F43662;
    text-align: center;
    border-radius: 10px;
}
.editingYourProfile .UploadnewImageremove{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #F43662;
    text-align: center;
    border-radius: 10px;
    color: #F43662;
    background-color: transparent;
}
.bg-price .mainHeading{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 50px;
    color: white;
}
.bg-price .subHeading{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pricePlanCard1, .pricePlanCard2{
    background: white;
    padding: 35px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pricePlanCard3{
    background: rgb(34, 34, 34);
    padding: 45px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pricePlanCard2{
    border-radius: 0px;
    margin-left: 1px;
}
.priceTitle{
    font-weight: 700;
    margin-bottom: 5px;
}
.pricePlanCard3 .priceTitle{
    color: #f43662;
}
.pricePlanCard2 .priceTitle{
    color: #f43662;
}
.priceSubTitle{
    font-weight: 500;
    color: #3c3c3c;
    margin-bottom: 15px;
}
.pricePlanCard3 .priceSubTitle{
    color: white;
}
.priceAmount{
    font-weight: 800;
    margin-bottom: 0px;
}
.pricePlanCard3 .priceAmount{
    color: white;
}
.priceAmount span{
    font-size: 20px;
    color: #b5b5b5;
}
.priceAmountText{
    color: #919191;
    font-weight: 500;
}

.planServices i{
    color: #ffffff;
    margin-right: 5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.pricePlanCard3 .planServices{
    color: #919191;
}
.price1Btn{
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    border: 1px solid #b9b9b9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.pricePlanCard3 .price1Btn{
    color: white;
    border: 1px solid #f43662;
    background-color: #f43662;
}
.pricePopularTag{
    background-color: #F43662;
    color: white;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 5px;
}
.bg-price .nav-pills .nav-link.active{
    background: #f43662;
    color: white;
    border-radius: 20px;
}

.bg-price .nav-pills .nav-link{
    color: black;
    width: 115px;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px;
}

.priceMobileBtnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAABB1;
    margin-bottom: 15px;
    border-radius: 20px;
}
.faq-bg{
    padding: 3% 15%;
}
.contact-bg{
    padding: 3% 15%;
}
.faqTitle, .contactTitle{
    font-size: 80px;
    font-weight: 900;
}
.faqSubTitle, .contactSubTitle{
    font-weight: 500;
    color: #5a5a5a;
    margin-top: 15px;
    margin-bottom: 50px;
}
.faqBottomDiv{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqbotTitle{
    font-weight: 700;
}
.faqbotSubTitle{
    font-weight: 500;
    color: #5e5e5e;
}
.faqBotInnerDiv{
    padding: 10px 20px;
    background: #e1e1e1;
    border-radius: 10px;
    margin-top: 15px;
}
.faqBotInnerDiv .copy{
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
}
.faq-bg .accordion{
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
}
.faq-bg .accordion-item{
    background: transparent;
    border: none;
}
.faq-bg .accordion-button:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #f7f7f7;
}
.faq-bg .accordion-button{
    background: transparent;
    border-bottom: 1px solid #f7f7f7;
}
.faq-bg .accordion-button:not(.collapsed){
    color: black;
    font-weight: bold;
}
.faq-bg .accordion-button:not(.collapsed)::after{
    background-image: none !important;
    content: '\f068' !important;
    color: black !important;
}
.faq-bg .accordion-button::after {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f067'; /* Unicode for plus icon */
    color: black;
    transition: transform 0.3s ease;
    background-image: none !important;
}
.faq-bg .faqTitle span{
    background-image: url(../imgs/hero.jpg);
    background-size: cover;
    background-clip: text;
    background-position: bottom right;
    -webkit-background-clip: text;
    color: #fc36615e !important;
}
.contact-bg form{
    padding: 25px;
}
.contact-bg form label{
    font-weight: 600;
    margin-top: 25px;
}
.contact-bg form button{
    width: 100%;
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}
.contact-bg .contactInfo{
    padding: 20px;
}
.contact-bg .contactInfo a{
    text-decoration: underline !important;
    color: black;
    font-weight: 600;
    display: block;
}
.contact-bg .contactInfo a i{
    text-decoration: none !important;
    margin-right: 8px;
}
.contact-bg .contactInfo h5{
    color: black;
    font-weight: 600;
}
.contact-bg .contactInfo p{
    color: gray;
    font-weight: 500;
    margin-bottom: 15px;
}
.BuyCredit .bg-price .priceMobileTab{
    flex-direction: column;
    align-items: center !important;
}
.BuyCredit .bg-price .nav-pills{
    width: 100% !important;
}
.BuyCredit .bg-price .tab-content{
    width: 100% !important;
}
.BuyCredit .bg-price .priceMobileBtnDiv{
    flex-direction: row;
}
.planPopup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(4px);
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.planPopup .card-body{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.planPopup .card-body h3{
    font-size: 18px;
}
.planPopup .card-body .popUpPlanBtn{
    background: #f43662;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
}
.planPopup .card-body .close{
    position: absolute;
    border: none;
    background-color: black;
    color: white;
    padding: 3px 8px;
    border-radius: 8px;
    right: 5px;
    top: 5px;
}
.contact-bg .form-control:focus{
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}
.messageCount{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid #f8d3db;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #fc3661;
}
.messageCountIcon{
    color: white;
    font-size: 25px;
}
.messageCounter{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    min-height: 12px;
    padding: 0px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #fc3661;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}
.pricePlanCards{
    background: transparent;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    transition: all 0.3s ease;
}
.pricePlanCards:hover{
    background-color: #f43662;
    margin-top: -55px;
    transition: all 0.3s ease;
}
.planTitle{
    font-weight: 700;
    margin-bottom: 5px;
    color: #f43662;
}
.pricePlanCards:hover .planTitle{
    color: white;
}
.planSubTitle{
    font-weight: 500;
    color: black;
    margin-bottom: 15px;
}
.pricePlanCards:hover .planSubTitle{
    color: white;
}
.planAmount{
    font-weight: 800;
    margin-bottom: 0px;
    font-size: 32px;
    margin-bottom: 20px;
    color: #f43662;
}
.planAmount span{
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.pricePlanCards:hover .planAmount{
    color:white;
}
.pricePlanCards:hover .planAmount span{
    color:white;
}
.planAmountText{
    color: #919191;
    font-weight: 500;
}
.planServices{
    color: black;
    margin-right: 5px;
    display: flex;
    margin-bottom: 8px;
}
.pricePlanCards:hover .planServices{
    color:white;
}
.planServices i{
    background-color: #f43662;
}
.pricePlanCards:hover .planServices i{
    background-color: #F995AC;
}
.plansBtn{
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #F995AC;
}
.pricePlanCards:hover .plansBtn{
    background-color: white;
    color: #f43662;
}
.planBadge{
    background-color: #f43662;
    font-size: 13px;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 15px;
    color: white;
    font-weight: 800;
}
.pricePlanCards:hover .planBadge{
    background-color: white;
    color: #f43662;
}
.planBadgeNull{
    height: 25px;
}
.detailsHeight{
    height: 75vh;
}
.submitDtsCard{
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #f43662;
    display: none;
    min-width: 30vw;
}
.submitDtsCard:first-child {
    display: block;
}
.detailsbg{
    background: #f436625e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}
/* Card transition animations */
.submitDtsCard {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateX(0);
}

.submitDtsCard.hide-card {
    display: none !important;
    opacity: 0;
    transform: translateX(-100%);
}

.submitDtsCard.show-card {
    display: block !important;
    opacity: 0;
    transform: translateX(100%);
}

.submitDtsCard.show-card {
    animation: slideIn 0.3s forwards;
}

.submitDtsCard .termText{
    width: 40vw;
    height: 45vh;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 20px;
}
.submitDtsCard .termText h3{
    font-size: 22px;
    color: white;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.checkedTermsInputIcon {
    display: none;
}

/* Show the icon and hide the checkbox when the checkbox is checked */
.checkedTermsInput:checked + .checkedTermsInputIcon {
    display: inline-block; /* Show the icon */
}

/* Hide the checkbox when it is checked */
.checkedTermsInput:checked {
    display: none; /* Hide the checkbox */
}
.bg-about{
    background: linear-gradient(180deg, rgba(252,202,213,1) 0%, rgba(255,255,255,1) 50%);
}
.aboutbg{
    background: linear-gradient(180deg, rgb(251 182 197) 0%, rgb(255 255 255 / 40%) 35%, rgb(251 182 197 / 24%) 100%);
}
.aboutbg .mainHeading{
    color: #f43662;
}
.aboutbg .subHeading{
    color: #f43662;
}
.aboutTexts{
    margin-top: 100px !important;
}
.aboutTexts h1{
    font-size: 60px;
    color: black;
    font-weight: 900;
    margin-bottom:10px;
}
.aboutTexts h3{
    color: #f43662;
    font-size: 50px;
    margin-bottom: 30px;
}
.aboutTexts p{
    font-size: 16px;
    color: #5e5e5e;
    margin-bottom: 30px;
}
.aboutTexts p a{
    color: #f43662;
    text-decoration: none;
}
.aboutTexts .paRight{
    padding-right: 50px;
}
.sideImagebg{
    background-image: url(../imgs/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    transform: scaleX(-1);
    padding: 30px;
    border-radius: 20px;
}
.imageInnerBorder{
    height: 100%;
    border: 1px solid white;
    border-radius: 20px;
}
.aboutTexts .paddingLefts{
    padding-left: 100px;
}
.aboutImages .aboutImg3{
    width: 90%;
    transform: scaleX(-1);
    border-radius: 0% 40%;
    border-left: 10px solid white;
    position: relative;
    z-index: 1;
}
.aboutImages .aboutImg4{
    position: absolute;
    right: 30px;
    bottom: -20px;
    z-index: 0;
    width: 30%;
}
.top-Header-bottom-border{
    margin: 0;
    opacity: 1;
    border-top: 0px;
    height: 3px;
    background: linear-gradient(90deg, rgba(252,202,213,0) 0%, rgba(244,54,98,1) 50%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 100%;
}
.faqTexts{
    padding: 50px 100px 100px;
    background: white;
    margin: 0;
}
.faqTexts i{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f43662;
    padding: 2px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqTexts h3{
    color: black;
    font-size: 18px;
    margin: 15px 0;
}
.faqTexts p{
    color: black;
    font-size: 16px;
}
.furtherFaq{
    margin-top: 50px;
    background-color: #FDD7E0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.furtherFaq h4{
    color: #f43662;
    font-size: 20px;
}
.furtherFaq p{
    color: #f43662;
    font-size: 15px;
}
.furtherFaq button{
    padding: 5px 15px;
    background-color: #f43662;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    border: none;
}
.searchWrapper{
    background: white;
    margin: 10px 20px;
    padding: 5px;
    border-radius: 10px;
    padding: 7px 15px;
}
.searchWrapper input{
    border: none;
    color: #f43662;
    margin-left: 10px;
}
.searchWrapper input::placeholder{
    color: #f43662;
}
.searchWrapper i{
    color: #f43662;
}
.contactFormsDts{
    padding: 100px 50px 100px 0;
}
.googleMap{
    padding: 130px 0 100px 50px;
    display: flex;
    justify-content: end;
}
.googleMap iframe{
    border: 10px solid #f43662;
}
.contactFormsDts .title{
    color: black;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contactFormsDts .title span{
    color: #f43662;
}
.contactFormsDts .subTitle{
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}
.contactFormsDts .form-control{
    background-color: transparent;
    border: 1px solid #f43662;
    margin-bottom: 20px;
    border-radius: 0px;
    padding: 10px;
}
.contactFormsDts .form-control:focus{
    border-color: #f43662;
    box-shadow: none;
}
.contactFormsDts .form-control::placeholder{
    color: #f43662;
}
.contactSbBtn{
    background: #f43662;
    color: white;
    font-size: 17px;
    border-radius: 0;
    text-align: center;
    margin: 0;
    font-weight: 600;
    padding: 10px;
}
.contactSbBtn:hover{
    background: #f43662;
    color: white;
}
.row{
    margin: 0px;
}
.contactEnquery{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
}
.contactEnquery .enquiry i{
    font-size: 25px;
}
.contactEnquery .enquiry h4{
    font-size: 15px;
    margin-bottom: 0px;
}
.contactEnquery .enquiry p{
    font-size: 13px;
    color: #f43662;
}
/* Custom scrollbar for the div */
.termText::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}
.termText::-webkit-scrollbar-thumb {
    background: black; /* Color of the scroll thumb */
    border-radius: 100vw; /* Rounded corners */
}
.termText::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 100vw;
}
.matchesTitle{
    font-size: 70px;
    color: white;
    font-weight: 400;
}
.matchesTitle span{
    font-weight: 700;
}
.matchcard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.submitDtsCard .fields{
    display: flex;
    column-gap: 10px;
}






@media (max-width: 767px){
    .headerMain .logo .logopic{
        width: 70%;
        height: 100%;
    }
    .headerMain .logo .icon{
        width: 16%;
    }
    .headerMain .w-30{
        width: 100% !important;
    }
    .notSignupHead .w-30{
        width: 55% !important;
    }
    .homeMain-heading{
        font-size: 60px;
    }
    .homeMain-heading span{
        font-size: 60px;
    }
    .homebg{
        padding: 50px 20px;
    }
    .popupModal{
        padding-top: 60%;
    }
    .passwordPopup .card{
        width: 100%;
    }
    .mobile-navbar{
        padding: 30px 12px 0 0px;
        border-right: 1px solid rgb(0 0 0 / 18%);
        width: 40%;
        height: 100vh;
        position: absolute;
        background: white;
        z-index: 99999999;
        left: -55%;
        opacity: 0;
        transition: all 0.4s ease-in;
    }
    .mobile-navbar.active {
        display: block;
        left: 0;
        opacity: 1;
        transition: all 0.4s ease-out;
    }
    .tab-content .row {
        padding: 10px 0px 20px 0px;
    }
   .mobileNavtoggle {
        padding: 6px 10px;
    background: transparent;
    color: #f43662;
    border-radius: 5px;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #F43662;
    }
    .mobileNavtoggle:hover{
        background-color: #F43662;
        color: white;
    }
    .tabForms{
        padding-left: 0px !important;
    }
    .profile-form-steps .active::before{
        bottom: 7px;
    }
    .profile-form-steps::before{
        display: none;
    }
    .profile-form-steps{
        border: none;
    }
    .imageDrop{
        margin-bottom: 10px;
    }
    .dashboardNav .dashboardLogOut{
        position: absolute;
    bottom: 0px;
    left: 0px;
    width: 93% !important;
    }
    .sticky-div {
        height: calc(100vh - 200px);
    }
    .dropdown-item:active{
        background-color: #F43662;
    }
    .sticky-div .mobileProfilePad{
        padding-bottom: 20px !important;
    }
    .settings{
        width: 100%;
    }
    .date-input-wrapper .profileInput {
        background-color: white !important;
      }
      .dashboardLogOut{
        margin-bottom: 180px !important;
      }
      .mobile-navbar .nav-link{
        border-width: 1px;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 8px;
      }
      .notSignupHead .homeMObileMenu{
        position: absolute;
        width: 100%;
        left: 0;
        top: 75px;
        padding: 20px;
        background-color: white;
        z-index: -1;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 5px 5px #F43662;
        border-top: 1px solid #929292;
        height: 0px;
        font-size: 16px;
        opacity: 0;
        transition: all 0.2s ease-in;
      }
      .notSignupHead .homeMObileMenu .menu_item{
        width: 100%;
        padding-left: 0px;
        border-bottom: 1px solid #929292;
      }
      .notSignupHead .show{
        height: fit-content;
        z-index: 5;
        opacity: 1;
        top: 75px;
        transition: all 0.2s ease-out;
        background: #ffcad5;
      }
      .profileGrid {
        grid-template-columns: 1fr; /* 1 item per row on mobile */
    }
    .editingYourProfile .form-container{
        margin: 0 0 10px 0;
    }
    .priceMobileTab{
        flex-direction: column;
    }
    .priceMobileTab .nav-pills{
        width: 100% !important;
    }
    .priceMobileBtnDiv{
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .priceMobileTab .tab-content{
        width: 100% !important;
    }
    .mobilePriceTabCard{
        flex-direction: column;
        row-gap: 20px;
        padding: 20px 0 !important;
    }
    .bg-price{
        padding: 3rem 10px !important;
    }
    .faq-bg, .contact-bg {
        padding: 40px 10px;
    }
    .faqTitle {
        font-size: 60px;
        font-weight: 900;
    }
    .faqBottomDiv{
        padding: 50px 20px;
    }
    .contactTitle{
        font-size: 65px;
    }
    .contactSubTitle{
        margin-bottom: 10px;
    }
    .contact-bg .contactInfo {
        padding: 30px;
    }
    .Pc-Menus{
        display: none !important;
    }
    .loginBtn {
        font-size: 14px;
        color: #f43662;
        border-radius: 5px;
        padding: 0;
    }
    .registerbtn {
        font-size: 12px;
        color: white;
        background-color: #f43662;
        border-radius: 5px;
        padding: 10px;
    }
    .menu_item.active {
        color: white;
        font-weight: bold;
        background: #fc3661;
        border-radius: 10px;
        padding-left: 20px !important;

    }
    .menu_item {
        padding-left: 20px !important;
        border: none !important;
    }
    .main{
        overflow: hidden;
    }
    .foterWidgets{
        flex-direction: column;
        row-gap: 40px;
        padding-left: 20px;
    }
    .foterWidgets .innerDiv {
        width: 100%;
    }
    .foterWidgets2{
        flex-direction: column;
        row-gap: 30px;
    }
    .foterWidgets2 .footerMenu{
        font-size: 12px !important;
    }
    .mobileWidth{
        width: 100% !important;
   }
   .sectionreverse{
        flex-direction: column-reverse;
   }
   .dashbedBorders{
        width: 100%;
        border-right: none;
        border-top: 10px solid #f43662;
        padding-top: 65px;
        padding-right: 0px;
   }
   .stepsTexts{
        width: 100%;
        justify-content: center;
        padding-left: 0px;
   }
   .stepsTexts h2 {
        font-size: 60px;
        text-align: center;
    }
}
