@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Pacifico&display=swap');

h1,h2,h3,h4,h5,h6,p,span,a,button,input,label,div{
    font-family: "Figtree", sans-serif;

}
p{
    margin-bottom: 0px;
}
.section{
    width:100% !important;
    padding: 0 3%;
}
.homebg{
    background-image: url('../imgs/hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    min-height: 88vh;
}
.homebg::before{
    content: '';
    opacity: 1;
    left: 0;
    background-color: #f4366238;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.headerMain{
    padding: 20px 0;
}
.home-section{
    position: relative;
    z-index: 2;
    height: 100%;
}
.w-60{
    width: 60%;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.w-40{
    width: 40%;
}
.homeMain-heading{
    font-size: 70px;
    font-family: "Pacifico", cursive;
}
.homeMain-subheading{
    margin-top: 20px;
    font-size: 22px;
}
.homeMain-heading2{
    font-size: 40px;
    font-family: "Pacifico", cursive;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
}
.form-group{
    padding: 10px;
    border: 1px solid #f43662;
    border-radius: 20px;
}

/* .form-check{
    padding-left: 10px;
} */
input[type="radio"]{
    box-shadow: none;
}
input[type="checkbox"]{
    box-shadow: none;
}
/* .form-check label{
    padding: 3px 10px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}
.form-check input[type="radio"]:checked + label{
    background: hotpink;
    border-color: hotpink;
} */
.submitBtn{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f43662;
}
.submitBtn:hover
{
    background-color: #f43662;
    border-color: #f43662;
    color: white;
}
.menu_item{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease-in;
}
.menu_item:hover{
    color: #f43662;
    border-bottom: 1px solid #f43662;
}
.loginBtn{
    font-size: 18px;
    color: white;
    background-color: #f43662;
    border-radius: 10px;
    padding: 5px 15px;
}
.loginBtn:hover{
    background-color: transparent;
    color: #f43662;
    border-color: #f43662;
}
.popupModal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f4366238;
    top: 0%;
    z-index: 999999999;
    padding-top: 14%;
}
.passwordPopup{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #f4366238;
    top: 0%;
    z-index: 999999999;
    backdrop-filter: blur(2px);
}
.passwordPopup .card{
    width: 50%;
}
.toast-success {
    background-color: #f43662 !important; /* Green background */
}
.toast-error {
    background-color: #ff0019 !important; /* Red background */
}
.profileImg{
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 3px;
}
.profileImg img{
    width: 50px;
    height: 50px;
    border: 3px solid #f4366238;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}
.dropdown-menu{
    inset: 0px 0 auto auto !important;
}
.dashboardNav{
    padding: 30px 65px 0 0px;
    border-right: 1px solid rgb(0 0 0 / 18%);
    width: 25%;
    height: 100vh;
    position: relative;
}
.dashboardNav .nav-link{
    border: 2px solid #F43662;
    color: #F43662;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
}
.navsInnerDiv{
    width: 25%;
}
.sticky-div {
    height: calc(100vh - 150px); /* Adjust the 80px based on the height of the non-scrolling content */
    overflow-y: auto;
}
.tab-content .row{
    padding: 10px 0px 20px 25px;
    --bs-gutter-x: 2rem !important;
}
.tab-content .row .col-md-4{
    margin-top: 20px;
}
.dashboardNav .active{
    background-color: #F43662 !important;
    color: white;
}
.profileGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 15px; /* Space between grid items */
    height: fit-content;
}
.profileCard{
    border: 2px solid #F43662;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.blur{
    filter: blur(5px);
}
.profileCard img{
    height: 220px;
    object-fit: cover;
    object-position: top center;
}
.profileCard .profileCardDiv{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Make the div flexible to fill available space */
    justify-content: space-between;
}
.profileCard .profileDetailsBtn{
    display: block;
    text-decoration: none;
    width: 100%;
    background-color: #F43662;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 10px;
}
.sticky-div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
.bestMatch{
    color: #F43662;
    font-family: "Pacifico", cursive;
}
.dashboardLogOut{
    margin-bottom: 130px !important;
    position: absolute;
    bottom: 0;
    width: 78% !important;
}
.dashboardLogOut:hover{
    background-color: #F43662;
    color: white;
}
.dashboardButton{
    background-color: #F43662 !important;
    color: white !important;
}
.form-container {
    margin: 20px 0 10px 10px;
}

.profile-form-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}
.partner-form-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}
.profile-form-steps::before{
    content: '';
    height: 5px;
    background: #f4366269;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    z-index: 80;
}
.partner-form-steps::before{
    content: '';
    height: 5px;
    background: #f4366269;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    z-index: 80;
}
.profile-form-steps .profile-step {
    cursor: pointer;
    color: #F43662 !important;
    font-size: 20px;
    transition: all 0.3s ease;
    position: relative !important;
    padding: 0 0 20px !important;
    font-size: 20px;
}
.partner-form-steps .partner-step {
    cursor: pointer;
    color: #F43662;
    font-size: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease;
    position: relative;
}
.profile-form-steps .profile-step:hover{
    border: none !important;
}
.profile-form-steps .active {
    font-weight: bold !important;
    position: relative;
    border: none !important;
}
.partner-form-steps .partner-step .active {
    font-weight: bold !important;
    position: relative;
    border: none !important;
}
.profile-form-steps .active::before{
    content: '';
    height: 5px;
    width: 100%;
    background: #F43662;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
    z-index: 99;
    left: 0;
}
.partner-form-steps .active::before{
    content: '';
    height: 5px;
    width: 100%;
    background: #F43662;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
    z-index: 99;
    left: 0;
}
.progress-bar {
    height: 5px;
    background: #e0e0e0;
    margin-bottom: 20px;
    position: relative;
}

.progress {
    height: 100%;
    width: 0;
    background: #F43662;
    transition: width 0.4s;
}

.profile-form-step {
    display: none;
}
.partner-form-step {
    display: none;
}
.profile-form-step.active {
    display: block;
}
.partner-form-step.active {
    display: block;
}


.imageDrop input[type="file"] {
    display: none;
  }
.imageDrop .imageUploadInput {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    color: #F43662;
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 0.3em;
    margin: 0;
    cursor: pointer;
    border: 1px solid #f43662;
  }
.imageDrop #image-display {
    position: absolute;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 1.25em; */
    /* flex-wrap: wrap; */
    height: 100%;
    z-index: 0;
  }
  .imageDrop #image-display1 {
    position: absolute;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 1.25em; */
    /* flex-wrap: wrap; */
    height: 100%;
    z-index: 0;
  }
.imageDrop #image-display figure {
    width: 100%;
    height: 100%;
  }
  .imageDrop #image-display1 figure {
    width: 100%;
    height: 100%;
  }
.imageDrop #image-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .imageDrop #image-display1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
.imageDrop #image-display figcaption {
    display: none;
  }
  .imageDrop #image-display1 figcaption {
    display: none;
  }
.imageDrop  #error {
    text-align: center;
    color: #ff3030;
  }
  .imageDrop  #error1 {
    text-align: center;
    color: #ff3030;
  }
.imageDrop{
    height: 130px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.profileDesc{
    width: 100%;
    height: 128px;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: #f43662;

}
.profileInput{
    width: 100%;
    padding: 10px;
    border: 1px solid #f43662;
    border-radius: 10px;

}
.profile-next-step, .profile-submit-form, .profile-next-step:hover, .profile-submit-form:hover, .profile-next-step:active, .profile-submit-form:active{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    float: right;
}
:not(.btn-check)+.btn:active{
    background-color: #F43662;
    color: white;
}
.partner-next-step, .partner-submit-form{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    float: right;
}
input:focus, textarea:focus, select:focus-visible {
    border-color: #F43662;
    outline: none;
}
.partner-form-step input:focus, .partner-form-step textarea:focus {
    border-color: #F43662;
    outline: none;
}
.profile-form-step input::placeholder{
    color: #F43662;
}
.partner-form-step input::placeholder{
    color: #F43662;
}
.imageReUploadInput{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    background: #00000029;
    color: white;
    text-align: center;
    z-index: 9999;
    display: none;
    cursor: pointer;
}
.imageDrop #image-display:hover .imageReUploadInput{
    display: block !important;
  }
  .imageDrop #image-display1:hover .imageReUploadInput{
    display: block !important;
  }
  .profile-prev-step, .profile-prev-step:hover{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}
.partner-prev-step, .partner-prev-step:hover{
    background-color: #F43662;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}
.settings .pl-0{
    padding-left: 0px;
}
.profileNav:hover{
    background-color: #F43662 !important;
    color: white !important;
}
.dropdown-item:active{
    background-color: #F43662;
}
.form-check-input:checked {
    background-color: #F43662;
    border-color: #F43662;
}
.form-check-input:focus{
    box-shadow: none !important;
}
.viewProfileTab .imageDrop{
    align-items: start;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.editingYourProfile .imageDrop{
    align-items: start;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.viewProfileTab .imageDrop img{
    border-radius: 10px;
}
.editingYourProfile .imageDrop img{
    border-radius: 10px;
}
.viewProfileTab .profileDesc{
    border-color: #00000029;
    color: #525252;
    height: 100px;
    margin-top: 10px;
}
.editingYourProfile .profileDesc{
    border-color: #f4366238;
    color: black;
    height: 100px;
    margin-top: 10px;
}
.viewProfileTab .profileInput{
    border-color: #00000029;
    color: #525252;
}
.editingYourProfile .profileInput{
    border-color: #F43662;
    color: black;
}
.viewProfileTab label{
    width: 50%;
    font-size: 18px;
    font-weight: 600;
}
.editingYourProfile label{
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #F43662;
}
.viewProfileTab .profile-form-steps .profile-step{
    color: black !important;
}
.editingYourProfile .profile-form-steps .profile-step{
    color: #F43662 !important;
}
.viewProfileTab .profile-form-steps .active::before{
    background-color: black;
    z-index: 999;
}
.editingYourProfile .profile-form-steps .active::before{
    background-color: #F43662;
    z-index: 999;
}
.viewProfileTab .profile-form-steps::before{
    background-color: #929292;
    z-index: 997;
}
.editingYourProfile .profile-form-steps::before{
    background-color: #f4366238;
    z-index: 997;
}
.viewProfileTab .sticky-div{
    padding-bottom: 180px;
}
.editingYourProfile .sticky-div{
    padding-bottom: 220px;
}
.settings{
    width: 50%;
}
.profileInput {
    position: relative;
  }

  .yourProfileCreate .profileInput::before {
    content: attr(placeholder);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }

  .yourProfileCreate .date-picked :not(:placeholder-shown)::before {
    display: none !important;
  }
  .yourProfileCreate .date-picked::before {
    display: none !important;
  }

  .yourProfileCreate .profileInput::-webkit-datetime-edit-text,
  .yourProfileCreate .profileInput::-webkit-datetime-edit-month-field,
  .yourProfileCreate .profileInput::-webkit-datetime-edit-day-field,
  .yourProfileCreate .profileInput::-webkit-datetime-edit-year-field {
    color: transparent !important;
  }
.dashboardMain input, select {
    background-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.yourProfileCreate .date-picked::-webkit-datetime-edit-text,
.yourProfileCreate .date-picked::-webkit-datetime-edit-month-field,
.yourProfileCreate .date-picked::-webkit-datetime-edit-day-field,
.yourProfileCreate .date-picked::-webkit-datetime-edit-year-field {
    color: black !important;
  }
a{
    text-decoration: none !important;
}
.editingYourProfile .imageDrop{
    width: 260px !important;
}
.editingYourProfile .imageDrop .savedImagePre{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.editingYourProfile .imageDrop .newImagePre{
    position: absolute;
    z-index: 3;
    background: white;
    width: 100%;
    height: 100%;
}
.editingYourProfile .UploadnewImageLabel{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #F43662;
    text-align: center;
    border-radius: 10px;
}
.editingYourProfile .UploadnewImageremove{
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #F43662;
    text-align: center;
    border-radius: 10px;
    color: #F43662;
}



@media (max-width: 767px){
    .headerMain .logo .logopic{
        width: 90%;
        height: 30px;
    }
    .headerMain .logo .icon{
        width: 17%;
    }
    .headerMain .w-30{
        width: 100% !important;
    }
    .notSignupHead .w-30{
        width: 55% !important;
    }
    .homeMain-heading{
        font-size: 40px;
    }
    .popupModal{
        padding-top: 60%;
    }
    .passwordPopup .card{
        width: 100%;
    }
    .mobile-navbar{
        padding: 30px 12px 0 0px;
        border-right: 1px solid rgb(0 0 0 / 18%);
        width: 40%;
        height: 100vh;
        position: absolute;
        background: white;
        z-index: 99999999;
        left: -55%;
        opacity: 0;
        transition: all 0.4s ease-in;
    }
    .mobile-navbar.active {
        display: block;
        left: 0;
        opacity: 1;
        transition: all 0.4s ease-out;
    }
    .tab-content .row {
        padding: 10px 0px 20px 0px;
    }
   .mobileNavtoggle {
        padding: 6px 10px;
    background: transparent;
    color: #f43662;
    border-radius: 5px;
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid #F43662;
    }
    .mobileNavtoggle:hover{
        background-color: #F43662;
        color: white;
    }
    .tabForms{
        padding-left: 0px !important;
    }
    .profile-form-steps .active::before{
        bottom: 7px;
    }
    .profile-form-steps::before{
        display: none;
    }
    .profile-form-steps{
        border: none;
    }
    .imageDrop{
        margin-bottom: 10px;
    }
    .dashboardNav .dashboardLogOut{
        position: absolute;
    bottom: 0px;
    left: 0px;
    width: 93% !important;
    }
    .sticky-div {
        height: calc(100vh - 200px);
    }
    .dropdown-item:active{
        background-color: #F43662;
    }
    .sticky-div .mobileProfilePad{
        padding-bottom: 20px !important;
    }
    .settings{
        width: 100%;
    }
    .date-input-wrapper .profileInput {
        background-color: white !important;
      }
      .dashboardLogOut{
        margin-bottom: 180px !important;
      }
      .mobile-navbar .nav-link{
        border-width: 1px;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 8px;
      }
      .notSignupHead .homeMObileMenu{
        position: absolute;
        width: 100%;
        left: 0;
        top: -250px;
        padding: 20px;
        background-color: white;
        z-index: 5;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 5px 5px #F43662;
        border-top: 1px solid #929292;
        font-size: 16px;
        opacity: 0;
        transition: all 0.4s ease-in;
      }
      .notSignupHead .homeMObileMenu .menu_item{
        width: 100%;
        padding-left: 0px;
        border-bottom: 1px solid #929292;
      }
      .notSignupHead .show{
        opacity: 1;
        top: 75px;
        transition: all 0.4s ease-out;
      }
      .profileGrid {
        grid-template-columns: 1fr; /* 1 item per row on mobile */
    }
    .editingYourProfile .form-container{
        margin: 0 0 10px 0;
    }
}
